/*Centers title*/
.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/*Set background color*/
.container{
    background-color: #F1D0D6;
}

/*centers all buttons*/
.buttons{
    text-align: center;
}

/*Moves alarm closer to center/title.*/
.alarm_pic_left{
    float: left;
    padding-left: 35%;
}

/*Moves alarm closer to center/title.*/
.alarm_pic_right{
    float: right;
    padding-right: 35%;
}


#real_fire_button{
    align-self: left;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 32px 32px;
    background: url("https://drive.google.com/uc?id=17_4RT4JGTnc7sSlFbN5IL80SPSO89UZt");
    background-repeat: no-repeat; 
    background-size: 300px 300px;
    color: white;
}


#fire_drill_button{
    width: 300px;
    height: 300px;
    padding: 32px 32px;
    background: url("SeniorProj-FireDrillPic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

#dont_see_fire_button{
    background-color: white;
    color: white;
    background: url("SeniorProj-NoFirePic.png");
    width: 300px;
    height: 300px;
    padding: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#dont_hear_alarm_button{
    padding: 32px 32px;
    background-color: #636CD7;
    border-radius: 50%;
}


#end_screen{
    display: none;
}