/*Centers title*/
.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/*Set background color*/
.container{
    background-color: #F1D0D6;
    /*background-color: white;*/
}

/*centers all buttons*/
.buttons{
    text-align: center;
}

/*Moves alarm closer to center/title.*/
.alarm_pic_left{
    float: left;
    padding-left: 35%;
}

/*Moves alarm closer to center/title.*/
.alarm_pic_right{
    float: right;
    padding-right: 35%;
}

/*sets button color to white, align left, text center, pic from google drive, no repeat, 300px 300px pic & but size, padding*/
#real_fire_button{
    text-align: center;
    background: url("https://drive.google.com/uc?id=17_4RT4JGTnc7sSlFbN5IL80SPSO89UZt");

    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}

/*white button 300px 300px, pic uploaded in folder, text center, no-repeat, padding*/
#fire_drill_button{
    background: url("SeniorProj-FireDrillPic.png");
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}

/*same as prev. button, but 100% pic size, diff. pic.*/
#dont_see_fire_button{
    background: url("SeniorProj-NoFirePic.png");
    background-size: 100%;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}


#dont_hear_alarm_button{
    background: url("SeniorProj-NoAlarmHeard-Pic1.png");  
    background-size: 100%;
}

#real_fire_button, #dont_hear_alarm_button, #fire_drill_button, #dont_see_fire_button{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    color: white;
    padding: 32px 32px;
}

#end_screen{
    display: none;
}