.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.container{
    background-color: #F1D0D6;
}

.buttons{
    text-align: center
}

/*Check this out for the picture placement: https://www.w3schools.com/css/css_positioning.asp*/
.alarm_pic1{
    float: left;
}

.alarm_pic2{
    float: right;
}

/*Changes color of button1 when hovered over*/
#real_fire_button:hover {
    background-color: #6CA86E; /* Green */
    color: white;
}

#real_fire_button{
    width: 180px;
    padding: 32px 32px;
    align-self: center;
    background-color: #529BDB;
    border-radius: 50%;

}

/*Make button2 have a shadow when hovered over*/
#fire_drill_button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#fire_drill_button{
    padding: 32px 32px;
    background-color: #9868C9;
    border-radius: 50%;
    
}

#dont_see_fire_button{
    padding: 32px 32px;
    background-color: #D198D1;
    border-radius: 50%;
}

#dont_hear_alarm_button{
    
}